/* resert CSS */
* {
   box-sizing: border-box;
}
   
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: top;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
html, body {
	scroll-behavior: smooth;
}
/* ---------------------------------------- */

 /* Версия 1 Изначальная до просмотра видео */

.container {
   width: 1200px;
	margin: 20px auto;
}

.block-parent {
   font-size: 0;
}

.block-child-w400 {
   display: inline-block;
   outline: 1px solid blue; 
   font-size: 20px;
   width: 400px;
   height: 400px;
   background: yellow;
}

.block-child-w800 {
   display: inline-block;
   font-size: 20px;
   width: 800px;
   height: 400px;
   background: lightblue;
}

.block-child-w400 div {
   outline: 1px solid blue;  
   height: 133.33px;
   
}

.block-child-w800 div {
   outline: 1px solid blue;
   height: 200px;
}


.block-child-w800-parent {
   outline: 1px solid blue;
   display: inline-block;
   font-size: 20px;
   width: 800px;
   background: lightblue;
}


.block-child-w800-parent div {
   width: 800px;
   height: 200px;
}

.block-child-w400-parent {
   font-size: 0;
   outline: 1px solid blue;
}

.block-child-w400-parent div {
   display: inline-block;
   outline: 1px solid blue; 
   font-size: 20px;
   width: 400px;
   height: 200px;
   background: yellow;
}

.block-child-w400-parent > div + div {
   display: inline-block; 
   font-size: 20px;
   width: 400px;
   background: yellow;
}

.block-child-w400-parent > div + div > div {
   outline: 1px solid blue;
   height: 100px;
   overflow: hidden;
}

/* --------------------------------------- */

/* Версия 2 - по видео */

.box {
   width: 1200px;
   margin: 20px auto;
}

/* inline-block */
.d-i-block {
   display: inline-block;
}

/* back-ground */
.bg-grey {
   background: grey;
}

.bg-green {
   background: green;
}

.bg-orange {
   background: orange;
}

/* outline */
.outline {
   outline: 2px solid blue;
}

/* font-size */

.fz-0 {
   font-size: 0;
}

.fz-20 {
   font-size: 20px;
}

/* width */
.w-400 {
   width: 400px;
}

.w-800 {
   width: 800px;
}

/* height */
.h-100 {
   height: 100px;
}

.h-133 {
   height: 133.33px;
}

.h-200 {
   height: 200px;
}

.h-400 {
   height: 400px;
}

